<div class="page">
  <div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="submitSignup()">
      <div class="personal-info">
        <input
          class="input-box form-control"
          placeholder="First"
          formControlName="fname"
        />
        <input
          class="input-box form-control"
          placeholder="Last"
          formControlName="lname"
        />
        <input
          class="input-box form-control"
          placeholder="YYYY/MM/DD"
          formControlName="dob"
        />
      </div>
      <div class="login-info">
        <input
          class="input-box form-control"
          placeholder="Email"
          formControlName="email"
        />
        <input
          class="input-box form-control"
          placeholder="Password"
          formControlName="password"
        />
        <input
          class="input-box form-control"
          placeholder="Confirm Password"
          formControlName="confirmpw"
        />
      </div>
    </form>
  </div>
</div>
