.page {
  text-align: center;
  .item-label {
    margin: 34px 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #383838;
    word-break: break-all;
    word-wrap: break-word;
  }

  .card {
    padding: 10px 0;
    display: inline-block;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  // /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  }
 
}

