.login-page{
    color: #353535;
    margin-top: 100px;
    float: left;
    border: solid 1px black;
    padding: 15px 20px 10px 20px;
    border-radius: 2.5px;
}

.login-input{
    text-align: right;
}